<?xml version="1.0"?>
<config>
    <modules>
        <N98_LayoutHelper>
            <version>0.1.0</version>
        </N98_LayoutHelper>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_head>N98_LayoutHelper_Block_Page_Html_Head</html_head>
                    <html_breadcrumbs>N98_LayoutHelper_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
            <customer>
                <rewrite>
                    <account_navigation>N98_LayoutHelper_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_info>N98_LayoutHelper_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>
    </global>
    <phpunit>
        <suite>
            <modules>
                <N98_LayoutHelper />
            </modules>
        </suite>
    </phpunit>
</config>
